<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>SUEnableDownloaderService</key>
	<true/>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict/>
	</array>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUAutomaticallyUpdate</key>
	<false/>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/Ownera1/Islet/main/updater/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>rylBh3FVpqv63/rLrxpPUf9VdQKXFvE5yDp3tLMxS7U=</string>
	<key>SUVerifyUpdateBeforeExtraction</key>
	<true/>
</dict>
</plist>
